body {
    background-color: #3C6E71;
    color: #ffffff;
    line-hieght: 2;
    font-family: Arial, sans-serif;
    padding-top: 150px;
}

h2,h3 {
    background-color: #353535;
    padding: 15px;
    text-align: center;
    display: inline-block;
}

.info {
    display: flex;
} 

.table {
    
}

.img {

}
