body {
    background-color: #3C6E71;
    line-hieght: 2;
    font-family: Arial, sans-serif;
    padding-top: 200px;
}

header {
    background-color: #353535;
    color: #ffffff;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px;
}

.college-info {
    text-align: center;
}

.courses {

}

.left {

}

.right {

}

.content {

}

.languages {

}

.tools {

}


