body {
    background-color: #3C6E71;
    color: #ffffff;
    line-hieght: 2;
    font-family: Arial, sans-serif;
    padding-top: 150px;
    position: fixed;
}

header {
    background-color: #353535;
    color: #ffffff;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
}

.college-info {
    text-align: center;
}

.course-lang {
    display: flex;
    gap: 20%;
}

.courses {
    padding: 20px;
    width: 60%;
    line-style-position: outside;
    margin-left: 5%;
    background-color: #284b63;
}

.lang-tool {
    padding: 20px;
    width: 20%;
    height: 30%;
    line-style-position: outside;
    margin-right: 5%;
    background-color: #284b63;
}

h2 {
    background-color: #353535;
    padding: 15px;
    text-align: center;
    display: inline-block;
}
