body {
    background-color: #3C6E71;
    color: #ffffff;
    line-hieght: 2;
    font-family: Arial, sans-serif;
    padding-top: 200px;
}

header {
    background-color: #353535;
    color: #ffffff;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px;
}

.college-info {
    text-align: center;
}

.course-lang {
    display: flex;
    gap: 20%;
}

.courses {
    padding: 20px;
    width: 50%;
    line-style-position: outside;
    margin-left: 12.5%;
    background-color: #284b63;
}

.lang-tool {
    padding: 20px;
    width: 15%;
    line-style-position: outside;
    margin-right: 12.5%;
    background-color: #284b63;
}

.buttons {
    text-align: center;
    background-color: #353535;
    padding: 15px;
}

h2 {
    background-color: #353535;
    padding: 15px;
    text-align: center;
}
